.dropdown {
  padding: 5px;

  background-color: $c-white;

  visibility: hidden;
  opacity: 0;
  transition: opacity $duration-one;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__text {
    font-weight: $fw-medium;
    line-height: 1.5rem;

    pointer-events: visible;

    &:hover {
      background-color: $c-secondary;
      color: red;
    }
  }
}
