.dropdown {
  visibility: hidden;
  opacity: 0;

  background-color: $c-white;
  padding: 5px;

  transition: opacity $d-second;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__text {
    font-weight: $fw-medium;
    line-height: 1.5rem;
  }
}
