.menu-button {
  background-color: transparent;

  outline: none;
  border: none;

  cursor: pointer;

  &__icon {
    fill: $c-white;
    transition: transform $duration-one, fill $duration-half;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.2);
      fill: $c-secondary;
      outline: none;
    }
  }

  &__icon--cross,
  &.is-open &__icon--menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity $duration-one;
  }

  &.is-open &__icon--cross {
    visibility: visible;
    opacity: 1;
  }
}
