.plan {
  padding: 80px 20px;

  background-color: $c-main;

  &__title {
    margin-bottom: $mb-forty;

    font-family: $Playfair;
    font-size: $fs-big;
    line-height: 48px;

    color: $c-white;
  }

  &__text {
    margin-bottom: $mb-sixty;
    line-height: 24px;

    color: $c-white;
  }

  &__button {
    margin: 0 auto;
    width: 280px;

    transition: background-color $d-half;

    &:hover {
      background-color: rgba($c-secondary, $alpha: 0.5);
    }
  }
}

@include tablet {
  .plan {
    position: relative;

    padding: 120px 99px 170px;

    &__title {
      margin-bottom: $mb-eighty;
      width: 523px;

      font-size: $fs-bigger;
      line-height: 72px;
    }

    &__text {
      margin-left: 200px;
      margin-bottom: 35px;

      width: 370px;
    }

    &__button {
      margin-left: 200px;
    }

    &__back {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 431px;
      height: 462px;
      background: url("../images/woman-back-tablet.png") no-repeat;
    }
  }
}

@include desktop {
  .plan {
    padding: 190px 25px 160px 555px;

    &__title {
      margin-bottom: $mb-sixty;
      width: 700px;

      font-size: $fs-biggest;
      line-height: 100px;
    }

    &__text {
      margin: 0 0 $mb-sixty 100px;
      width: 470px;
      height: 70px;
    }

    &__button {
      margin-left: 100px;
    }

    &__back {
      width: 745px;
      height: 800px;
      background: url("../images/woman-back-desk.png") no-repeat;
    }
  }
}
