@import "blocks/menu-button";
@import "blocks/btn";
@import "blocks/button";
@import "blocks/input";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/lang";
@import "blocks/nav";
@import "blocks/surface";
@import "blocks/content";
@import "blocks/addition";
@import "blocks/art";
@import "blocks/event";
@import "blocks/plan";
@import "blocks/news";
@import "blocks/follow";
@import "blocks/footer";
@import "blocks/contacts";
@import "blocks/schedule";
@import "blocks/about";
@import "blocks/programs";
