$fontPlayfair: playfair display, sans-serif;
$fontRaleway: raleway, sans-serif;

$colorDarkGreen: #3f5252;
$colorWhite: #f1f5f4;
$colorLightRed: #cd4d31;
$colorDarkViolet: #1c1b29;
$colorLightViolet: #504f5e;
$colorLightWhite: #eee;
$colorDarkRed: #a73a21;
