.exhibitions {

  &__info {
    padding-left: 20px;
  }

  &__block {
    display: flex;
  }

  &__heading {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    padding-top: 157px;
    padding-right: 134px;
  }

  &__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
  }

  &__time {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: $colorOrange;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  &__background {
    position: relative;
    font-size: 144px;
    width: 50%;
    font-family: Playfair Display, serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    color: $colorLightWhite;
    text-shadow: 1px 1px 1px $colorGray;
  }

  &__photo-1 {
    position: absolute;
    left: 0;
    top: -200px;
  }

  &__photo-2 {
    position: absolute;
    right: 0;
    top: 60px;
  }

  &__photo-3 {
    position: absolute;
    left: 0;
    top: -10px;
  }

  &__button {
    margin-top: 50px;
    margin-bottom: 92px;
  }
}
