.exhibitions__info {
  padding-left: 20px;
}

.exhibitions__block {
  display: flex;
}

.exhibitions__heading {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  padding-top: 160px;
}

.exhibitions__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 50%;
  padding-top: 100px;
}

.exhibitions__time {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: $colorOrange;
}

.exhibitions__name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.exhibitions__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.exhibitions__background {
  position: relative;
  font-size: 144px;
  width: 50%;
  font-family: Playfair Display, serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  color: $colorLightWhite;
  text-shadow: 1px 1px 1px $colorGray;
}

.exhibitions__photo-1 {
  position: absolute;
  left: 0;
  top: -230px;
}

.exhibitions__photo-2 {
  position: absolute;
  left: 45px;
  bottom: 20px;
}

.exhibitions__photo-3 {
  position: absolute;
  right: 40px;
  top: 30px;
}

.exhibitions__button {
  margin-top: 50px;
  margin-bottom: 92px;
}
