.footer {
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 0 40px;
    padding: 160px 0 0 40px;

    &::after {
      content: "";

      position: absolute;
      background-image: url(../images/footer_arrow.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;

      right: 3vw;
      top: 160px;
    }
  }

  &__item--title {
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;

    color: #f1f5f4;
  }

  &__item--text {
    padding-top: 40px;

    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #f1f5f4;
  }

  &__item--massenge {
    display: flex;
  }

  &__item--icon {
    list-style: none;
    color: #f1f5f4;
    padding-top: 10px;
  }

  &__item--img {
    padding-right: 20px;
  }

  &__item--list {
    padding-top: 40px;
  }

  &__item--link {
    text-decoration: none;
    color: #f1f5f4;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    padding: 100px 0 60px ;
  }

  &__nav--item {
    color: #f1f5f4;
    &:last-child {
      padding-left: 40px;
    }
  }
}
