.burger-menu {

  &__button {
    position: relative;
    top: 0;
    left: 10px;
    z-index: 30;
    height: 80px;
    width: 80px;
    background-color: $colorGray;
    transition: 0.5s;
  }

  &__lines {
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $colorLightWhite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__lines::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $colorLightWhite;
    top: -7px;
    left: 0;
  }

  &__lines::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: $colorLightWhite;
    top: 7px;
    left: 0;
  }

  &_active &__button {
    background-color: $colorGray;
  }

  &_active &__lines {
    background-color: $colorGray;
    color: $colorGray;
  }

  &_active &__lines::before {
    top: 0;
    transition: transform 0.4s;
    transform: rotate(45deg);
  }

  &_active &__lines::after {
    top: 0;
    transition: transform 0.4s;
    transform: rotate(-45deg);
  }

  &__button:hover &__lines {
    filter: brightness(0.7);
  }

  &__nav {
    margin-top: 40px;
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    height: 720px;
    background-color: $colorGray;
    overflow-y: auto;
    right: -100%;
    transition: 0.5s;
  }

  &_active &__nav {
    left: 0;
    right: 0;
    width: 100%;
  }

  &__link {
    padding-top: 80px;
    text-align: start;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: $colorLightWhite;
  }

  &__link:hover {
    filter: brightness(0.7);
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
  }

  &_active &__overlay {
    display: block;
  }

  &__info {
    display: flex;
    justify-content: start;
    text-align: start;
    padding-top: 30px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: $colorLightWhite;
  }

  &__schedule {
    margin-right: 50px;
  }

  &__click {
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin-left: 60px;
  }

  &__photo {
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__line {
    display: flex;
    margin: 60px;
    background-color: $colorLightWhite;
    height: 0.5px;
    width: 570px;
    opacity: 0.3;
  }

  &__button-2 {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    height: 60px;
    width: 270px;
    background-color: $colorGray;
    color: $colorLightWhite;
    cursor: pointer;
    border: 0.5px solid $colorLightWhite;
    transition: transform 0.3s linear 0s,
      box-shadow 0.3s linear 0s,
      color 0.3s linear 0s,
      font-size 0.3s linear 0s;

    &:hover {
      font-size: 20px;
      font-weight: 900;
      transform: scale(1.2);
      border: 3px solid $colorLightWhite;
    }
  }
}

@media (max-width: 1100px) {
  .burger-menu {

    &__photo {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .burger-menu {

    &__schedule {
      display: none;
    }

    &__adress {
      display: none;
    }

    &__line {
      display: none;
    }

    &__photo {
      display: none;
    }

    &__click {
      margin-top: 60px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 150px;
    }

    &__button-2 {
      max-width: 230px;
    }
  }
}

@media (max-width: 480px) {
  .burger-menu {

    &__nav {
      top: 60px;
      height: 605px;
    }

    &__button-2 {
      width: 190px;
    }

    &__link {
      font-size: 24px;
      padding: 30px;
    }
  }
}
