.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $colorGray;

  &__logo {
    width: 123px;
    height: 40px;
  }

  &__panel {
    display: flex;
  }

  &__nav {
    margin-right: 40px;
  }

  &__lang {
    margin-right: 3px;
  }

  &__lang--icon {
    margin-right: 17px;
  }
}
