.info {
  background-color: $colorGray;
  color: $colorLightWhite;
  height: 740px;
  background-image: url(../images/Girl_from_Podolye.svg);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;

  &__date {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
  }

  &__text-2 {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }

  &__text-3 {
    padding-top: 40px;
    padding-bottom: 82px;
  }

  &__text-4 {
    display: flex;
    align-items: center;
    padding-top: 110px;
  }

  &__line {
    border: 1px solid;
    height: 1px;
    width: 492px;
  }

  &__heading {
    font-size: 96px;
  }
}
