@import "utils";
@import "fonts";
@import "typography";
@import "reset";
@import "header";
@import "header-menu";
@import "option";
@import "info";
@import "button";
@import "exhibitions";
@import "events";
@import "visit";

.container {
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
}
