.news {
  background-color: $bc-white;
  width: 100%;

  &__container {
    padding: 0 55px;
  }

  &__title {
    padding: 150px 0 75px 10vw;

    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20vh;
  }

  &__wrap--content {
    display: flex;
    flex-direction: column;
  }

  &__date {
    padding-top: 20px;

    font-weight: 200;
    font-size: 14px;
    line-height: 20px;

    color: #1c1b29;
    opacity: 0.6;
  }

  &__wrap--title {
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
  }

  &__wrap--text {
    padding-top: 15px;

    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: #504f5e;
    opacity: 0.7;
  }

  &__link {
    position: relative;

    display: flex;
    justify-content: flex-end;

    padding-bottom: 30vh;
  }

  &__link--item {
    position: relative;

    padding: 0 20px 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1rem;

    color: #1c1b29;
    background-color: transparent;

    padding-right: 80px;

    border: none;
    outline: none;

    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 0;
      width: 70px;
      height: 1px;
      background-color: #1c1b29;
    }
  }
}

@media screen and (max-width: 1180px) {
  .news {
    &__wrap {
      grid-template-columns: repeat(2 ,1fr);
    }

    &__wrap--third {
      display: none;
    }

    &__title {
      padding: 150px 0 75px ;
    }

    &__link {
      justify-content: center;
    }

    &__link--item {
      display: block;

      border-bottom: 1px solid black;

      &::after {
        width: 0;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .news {
    &__container {
      padding: 0 20px;
    }

    &__title {
      padding: 50px 0 75px ;
    }
    &__wrap {
      display: flex;
      padding-bottom: 50px;
    }

    &__wrap--second {
      display: none;
    }

    &__link {
      padding-bottom: 50px;
    }

    &__wrap--img {
      width: 100%;
      object-fit: contain;
    }
  }
}
