.news {
  padding-top: 120px;

  &__heading {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 78px;
  }

  &__photo {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
    transition: transform 0.3s linear 0s, border-radius 0.3s linear 0s;
    cursor: zoom-in;
    &:hover {
      transform: scale(1.2);
      border-radius: 40px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 370px;
  }

  &__text--2 {
    margin: 0 15px;
  }

  &__paragraph--info {
    font-family: Raleway, serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
  }

  &__paragraph--name {
    font-weight: bold;
    font-size: 20px;
    line-height: 125%;
    padding-bottom: 20px;
  }

  &__paragraph--text {
    font-family: Raleway, serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  &__all {
    display: flex;
    justify-content: flex-end;
    font-family: Raleway, serif;
    padding: 95px 80px 182px;
    text-align: right;
  }

  &__line {
    display: flex;
    margin-top: 11px;
    margin-left: 20px;
    background-color: $colorBlack;
    height: 0.5px;
    width: 70px;
  }
}

@media (max-width: 1240px) {
  .news__text--3 {
    display: none;
  }
}

@media (max-width: 700px) {
  .news {
    &__text--2 {
      display: none;
    }
    &__all {
      font-family: Raleway, serif;
      padding: 95px 0 182px;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .news {
    &__text--2 {
      display: none;
    }
    &__all {
      font-family: Raleway, serif;
      padding: 60px 60px 80px;
      text-align: center;
    }
  }
}
