.container-background {
  margin: 0 auto;
  max-width: 1280px;
  width: calc(100% - 40px);
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: calc(100% - 110px);
}

.section {
  background-color: $colorGray;
}

.section-orange {
  background-color: $colorOrange;
}
