.visit {
  display: grid;
  grid-template-columns: 45% 55%;

  &__img {
    padding-top: 50px;
    // height: 100%;
    background-image: url(../images/visit.png);
    background-size: cover;
  }

  &__content--wrap {
    padding-left: 78px;
    padding-bottom: 100px;
    width: 470px;
  }
  &__title {
    padding-top: 40vh;

    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
  }

  &__text {
    color: #f1f5f4;
    opacity: 0.6;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    padding: 60px 0;
  }
}
