.visit {
  background-color: $colorGray;
  color: $colorLightWhite;
}

.visit__container {
  height: 800px;
  background-image: url(../images/vizit-girl.svg);
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.visit__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: flex-end;
}

.visit__heading {
  width: 700px;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  padding-top: 190px;
  padding-bottom: 60px;
}

.visit__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 470px;
}

.visit__button {
  margin-top: 60px;
}
