.visit {
  height: 800px;
  background-image: url(../images/vizit-girl.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-color: $colorGray;
  color: $colorLightWhite;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: flex-end;
  }

  &__heading {
    line-height: 100%;
    max-width: 700px;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    padding-top: 190px;
    padding-bottom: 60px;
    margin-right: 20px;
  }

  &__body {
    margin-top: 6px;
    margin-right: 155px;
    line-height: 150%;
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    max-width: 470px;
  }

  &__button {
    margin-top: 60px;
  }
}

@media (max-width: 1240px) {
  .visit {
    height: 705px;
    background-position: -200px;
  }
}

@media (max-width: 1040px) {
  .visit {
    height: 705px;
    background-position: -200px;

    &__heading {
      max-width: 500px;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 100%;
    }

    &__body {
      margin-right: 55px;
    }
  }
}

@media (max-width: 700px) {
  .visit {
    background-image: none;
    max-height: 584px;
    &__heading {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 100%;
      padding-top: 80px;
      padding-bottom: 20px;
      max-width: 400px;
      text-align: center;
    }

    &__body {
      max-width: 400px;
      margin-right: 15px;
    }
  }
}
