.visit {
  display: grid;
  grid-template-columns: 45% 55%;
  box-sizing: border-box;
  position: relative;

  &__img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  &__content--wrap {
    padding-left: 78px;
    padding-bottom: 100px;
    max-width: 470px;
  }
  &__title {
    padding-top: 25vh;

    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
  }

  &__text {
    color: #f1f5f4;
    opacity: 0.6;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    padding: 60px 0;
  }
}

@media screen and (max-width: 800px) {
  .visit {

    &__fhoto {
      padding-top: 60vh;
    }
    &__title {
      font-size: 72px;
    }
  }
}

@media screen and (max-width: 470px) {
  .visit {
    grid-template-columns: 1fr;
    &__fhoto {
      display: none;
    }

    &__title {
      padding: 50px 20px 0;
      font-size: 48px;
    }

    &__content--wrap {
      max-width: 300px;
      padding: 20px;
    }
    &__text {
      padding: 40px 0;
    }

    &__button {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
