$c-gray: #eee;

$bc-main:#3f5252;
$bc-red: #cd4d31;
$bc-white: #f1f5f4;
$bc-black: #1c1b29;
$bc-gray: #504f5e;

$fw-bold: 700;

//breakpoint

$bp-large-navart: 1150px;

$bp-midle-art: 720px;
$bp-litle-art: 445px;

$bp-large-event:930px;

$bp-midium-exhibition: 815px;
$bp-small-exhibition: 395px;

$bp-large-footer: 900px;
$bp-large-small: 500px;

$bp-midium-news: 785px;
